In [1]:
import pandas as pd
from sqlalchemy import create_engine
from datetime import timedelta

In [2]:
connection_string = 'mysql+pymysql://root:root@127.0.0.1:3306/zenml'
engine = create_engine(connection_string)
print(engine.table_names())

/tmp/ipykernel_11896/201837237.py:3: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  print(engine.table_names())

OperationalError: (pymysql.err.OperationalError) (2003, "Can't connect to MySQL server on '127.0.0.1' ([Errno 111] Connection refused)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [18]:
dfs = pd.read_sql('select * from train_data', engine, chunksize=1000)

In [20]:
df = next(dfs)
df.groupby('customer_ID').max()['S_2'].reset_index()

                                          customer_ID        S_2
0   000df7db33e45c5151ac69f400db5d4c283be4ca2bf72d... 2018-03-24
1   000e06b7ac3f3f4eff61b316fd02a4624f8d5196e18af0... 2018-03-24
2   000e2c816db921b0c4a6fea72e32af5d81f7f41f8b11e1... 2018-03-23
3   000e6806ba7de2cf7f189c7a0719f13f4cf8e7925a3ebb... 2018-03-21
4   000e7954b7687713b64abced75597e6d20e65e805ff8b5... 2018-03-29
..                                                ...        ...
73  001adb0774c0df8e6405c3f27dd84887b633b8143f9147... 2018-03-16
74  001ae0d30660eb6a5182b87e7d6869d45f53892edf9934... 2018-03-17
75  001b32e4a338c536f2a2237b90f7c40b19455ad2aad94f... 2018-03-24
76  001b34655780067d806954c2129027718512d0ddf1b0f1... 2018-03-30
77  001b3bfc1c9791df630786495eb9f6d7b6f0a3f213d681... 2018-01-17

[78 rows x 2 columns]

In [21]:
def get_id_defaultdate_target(table_name):
    dfs = pd.read_sql(f'select * from {table_name}', engine, chunksize=1000)
    output_df = pd.DataFrame()
    for df in dfs:
        last_date_df = df.groupby('customer_ID').max()['S_2'].reset_index()
        output_df = pd.concat((output_df, last_date_df))
    output_df = output_df.drop_duplicates(subset='customer_ID', keep='last').reset_index(drop=True)
    label = pd.read_sql('select * from labels', engine)
    customer_target_df = output_df.merge(label, on='customer_ID', how='left')
    customer_target_df['default_date'] = customer_target_df['S_2'] + timedelta(days=120)
    return customer_target_df

In [22]:
train_customer_target_df = get_id_defaultdate_target("train_data")

In [24]:
val_customer_target_df = get_id_defaultdate_target("valid_data")

In [30]:
train_customer_target_df['default_date'].value_counts()

2018-07-15    17067
2018-07-01    16521
2018-07-08    15804
2018-07-22    15266
2018-07-18    13246
2018-07-28    12586
2018-07-26    12490
2018-07-13    12127
2018-07-19    11909
2018-07-14    11899
2018-07-17    11767
2018-07-10    11663
2018-07-21    11652
2018-07-24    11518
2018-07-06    11337
2018-07-11    11332
2018-07-07    11218
2018-07-25    11199
2018-07-12    11038
2018-07-27    10256
2018-07-20    10143
2018-06-29     8665
2018-06-30     7618
2018-07-03     7256
2018-07-29     7112
2018-07-04     7023
2018-07-05     6616
2018-07-02     6498
2018-07-23     6356
2018-07-09     6252
2018-07-16     6087
Name: default_date, dtype: int64

In [31]:
val_customer_target_df['default_date'].value_counts()

2018-07-01    598
2018-07-15    558
2018-07-22    528
2018-07-08    524
2018-07-18    503
2018-07-21    474
2018-07-28    452
2018-07-17    418
2018-07-06    413
2018-07-11    411
2018-07-26    407
2018-07-14    404
2018-07-25    400
2018-07-13    396
2018-07-19    394
2018-07-27    391
2018-07-10    389
2018-07-07    388
2018-07-24    378
2018-07-12    373
2018-07-20    373
2018-06-29    309
2018-06-30    276
2018-07-03    263
2018-07-04    241
2018-07-23    232
2018-07-29    230
2018-07-16    225
2018-07-02    221
2018-07-09    206
2018-07-05    206
Name: default_date, dtype: int64

In [34]:
final_df = pd.concat((train_customer_target_df, val_customer_target_df)).drop("S_2", axis=1)

In [35]:
final_df

                                             customer_ID  target default_date
0      0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...       0   2018-07-11
1      00000fd6641609c6ece5454664794f0340ad84dddce9a2...       0   2018-07-23
2      00001b22f846c82c51f6e3958ccd81970162bae8b007e8...       0   2018-07-10
3      000041bdba6ecadd89a52d11886e8eaaec9325906c9723...       0   2018-07-27
4      00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...       0   2018-07-28
...                                                  ...     ...          ...
11576  b2eb198ea9e6ef46d179129b859be4b15ed585b3aa5217...       1   2018-07-28
11577  b2eb1f22792d416e0e2d5259a0f9de71ef7d8d5a2f6266...       0   2018-07-04
11578  b2eb22124cbe18a9b49c38816be7f83e266276d283e4da...       0   2018-07-21
11579  b2eb3c26a7c1693a55df8989a6f8e9edbdf0b0c981e41f...       0   2018-07-11
11580  b2eb60003c0c63f3720f0ed19b646f5eea1cec9f937ef9...       0   2018-07-15

[343102 rows x 3 columns]

In [36]:
final_df.to_parquet("dashboard.parquet")

In [37]:
final_df['year'] = final_df['default_date'].dt.time.year

AttributeError: 'Series' object has no attribute 'year'